
/*
 * Cards
 */

.nd2-card {
  display: block;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 15px auto;
  max-width: 450px;
  overflow: hidden;
}

.nd2-card.card-media-right,
.nd2-card.card-media-left {
  position: relative;
}

.nd2-card.card-media-left {
  min-height: 272px;
}

.nd2-card .card-media img {
  width: 100%;
  display: block;
}

.nd2-card .card-media {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.nd2-card.card-media-right .card-media {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
}

.nd2-card.card-media-left .card-media {
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 240px;
}

.nd2-card.card-media-right.card-media-small .card-media { width: 80px; height: 80px; }
.nd2-card.card-media-right.card-media-medium .card-media { width: 112px; height: 112px; }
.nd2-card.card-media-right.card-media-large .card-media { width: 152px; height: 152px; }

.nd2-card .card-media-overlay {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

.nd2-card .card-media-overlay.with-background {
  background-color: rgba(0,0,0,0.4);
}

.nd2-card .card-media-overlay .card-title .card-primary-title,
.nd2-card .card-media-overlay .card-title .card-subtitle,
.nd2-card .card-media-overlay .card-action .ui-btn {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.nd2-card .card-media-overlay .card-action .ui-btn:hover {
  background-color: rgba(0,0,0,0.4);
}

.nd2-card .card-supporting-text {
  padding: 16px 16px 16px 16px;
  display: block;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0px 0px;
}

.nd2-card .card-supporting-text.has-action { padding: 16px 16px 16px 16px; }
.nd2-card .card-supporting-text.has-title { padding-top: 0px; }

.nd2-card.card-media-right .card-supporting-text.has-title { padding-top: 16px; }


.nd2-card .card-title {
  padding: 24px 16px;
}

.nd2-card.card-media-right.card-media-small .card-title { min-height: 56px; }
.nd2-card.card-media-right.card-media-medium .card-title { min-height: 88px; }
.nd2-card.card-media-right.card-media-large .card-title {  min-height: 128px;  }

.nd2-card .card-title.has-supporting-text {
  padding: 24px 16px 16px 16px;
}

.nd2-card .card-title .card-primary-title {
  margin: 0px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nd2-card .card-title .card-subtitle {
  font-size: 14px;
  margin: 0px;
  color: #8e8e8e;
  font-weight: 400;
  line-height: 20px;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nd2-card.card-media-right .card-title .card-primary-title,
.nd2-card.card-media-right .card-title .card-subtitle {
  margin-right: 120px;
}

.nd2-card.card-media-right.card-media-medium  .card-title .card-primary-title,
.nd2-card.card-media-right.card-media-medium  .card-title .card-subtitle {
  margin-right: 180px;
}

.nd2-card.card-media-right.card-media-large .card-title .card-primary-title,
.nd2-card.card-media-right.card-media-large .card-title .card-subtitle {
  margin-right: 220px;
}


.nd2-card .card-title.has-avatar .card-primary-title,
.nd2-card .card-title.has-avatar .card-subtitle {
  font-size: 16px;
  line-height: 20px;
}

.nd2-card .card-title .card-avatar {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #bdbdbd;
}

.nd2-card .card-action {
  padding: 8px;
}

.nd2-card .card-action.has-separator {
  border-top: 1px solid #eee;
}


.nd2-card.card-media-left .card-action {
  position: absolute;
  top: 16px;
  right: 16px;
  text-align: right;
}

.nd2-card.card-media-left .card-action .ui-btn {
  display: block;
}
