
/*
 * Popup / Dialog
 */

.ui-popup .ui-header .ui-title {
  /*	margin-left: 1em;*/
}

.ui-popup {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  border-radius: 0px;
}


/*
 * Overlay
 */

.ui-popup-screen {
  background-color: rgba(0,0,0,0.5);
}
