.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  background-color: #ffffff;
  border-color: rgba(0,0,0,.87);
  color: rgba(0, 0, 0, 0.87);
}

.ui-content.ui-content-nopadding {
  padding: 0em 0px;
}

